------------------------------------------------------------------------------------------------------<br>
<h3 style="background:#87a1c2; color:#ffffff; padding:20px; border-radius:5px;">✍ IRIS DATASET - PANDAS</h3><br>
------------------------------------------------------------------------------------------------------<br>

<b>BREVE EXPLICACIÓN DEL DATASET:</b><br>
<img src="img/iris.png">
<img src="img/iris2.png">

In [2]:
import pandas as pd
data = pd.read_csv("dataset/00_iris.csv") # Leer el CSV

In [50]:
data.head(3) # Listar cabecera

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [51]:
data.sample(10) # Listar Aleatorio

     sepal_length  sepal_width  petal_length  petal_width     species
128           6.1          3.0           4.9          1.8   virginica
51            7.0          3.2           4.7          1.4  versicolor
109           6.7          2.5           5.8          1.8   virginica
140           6.9          3.1           5.4          2.1   virginica
135           6.1          2.6           5.6          1.4   virginica
28            5.2          3.5           1.5          0.2      setosa
52            6.4          3.2           4.5          1.5  versicolor
117           6.5          3.0           5.5          1.8   virginica
17            5.4          3.9           1.3          0.4      setosa
84            6.0          2.7           5.1          1.6  versicolor

In [52]:
data.columns # Listar columnas

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [53]:
data.shape # Número de filas y columnas

(151, 5)

In [54]:
print(data) # Escribir el dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             5.1          3.5           1.4          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.7          3.0           5.2          2.3  virginica
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

[151 rows x 5 columns]

In [55]:
'''data [inicio: fin]
inicio es inclusivo mientras que fin es exclusivo
print(data[10:21])
imprimirá las filas del 10 al 20.
también se puede guardar en una variable para su uso posterior en el análisis
'''

rebanado_data=data[10:25]
print(rebanado_data)

    sepal_length  sepal_width  petal_length  petal_width species
10           4.9          3.1           1.5          0.1  setosa
11           5.4          3.7           1.5          0.2  setosa
12           4.8          3.4           1.6          0.2  setosa
13           4.8          3.0           1.4          0.1  setosa
14           4.3          3.0           1.1          0.1  setosa
15           5.8          4.0           1.2          0.2  setosa
16           5.7          4.4           1.5          0.4  setosa
17           5.4          3.9           1.3          0.4  setosa
18           5.1          3.5           1.4          0.3  setosa
19           5.7          3.8           1.7          0.3  setosa
20           5.1          3.8           1.5          0.3  setosa
    sepal_length  sepal_width  petal_length  petal_width species
10           4.9          3.1           1.5          0.1  setosa
11           5.4          3.7           1.5          0.2  setosa
12           4.8          3.4           1.6          0.2  setosa
13           4.8          3.0           1.4          0.1  setosa
14           4.3          3.0           1.1          0.1  setosa
15           5.8          4.0           1.2          0.2  setosa
16           5.7          4.4           1.5          0.4  setosa
17           5.4          3.9           1.3          0.4  setosa
18           5.1          3.5           1.4          0.3  setosa
19           5.7          3.8           1.7          0.3  setosa
20           5.1          3.8           1.5          0.3  setosa

In [56]:
''' 
aquí en el caso del conjunto de datos Iris
lo guardaremos en otra variable llamada "datos_específicos"
data[["column_name1","column_name2","column_name3"]]
'''

specifico_data=data[["sepal_length","species"]]

#Ahora imprimiremos las primeras 10 filas del marco de datos específico_datos.
print(specifico_data.head(10))

   sepal_length species
0           5.1  setosa
1           4.9  setosa
2           4.7  setosa
3           5.1  setosa
4           4.6  setosa
5           5.0  setosa
6           5.4  setosa
7           4.6  setosa
8           5.0  setosa
9           4.4  setosa

In [57]:
# Mostrará registros solo con la especie "Iris-setosa".
data.loc[data["species"] == "setosa"]

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            5.1          3.5           1.4          0.2  setosa
4            4.6          3.1           1.5          0.2  setosa
5            5.0          3.6           1.4          0.2  setosa
6            5.4          3.9           1.7          0.4  setosa
7            4.6          3.4           1.4          0.3  setosa
8            5.0          3.4           1.5          0.2  setosa
9            4.4          2.9           1.4          0.2  setosa
10           4.9          3.1           1.5          0.1  setosa
11           5.4          3.7           1.5          0.2  setosa
12           4.8          3.4           1.6          0.2  setosa
13           4.8          3.0           1.4          0.1  setosa
14           4.3          3.0           1.1          0.1  setosa
15           5.8          4.0           1.2          0.2  setosa
16           5.7          4.4           1.5          0.4  setosa
17           5.4          3.9           1.3          0.4  setosa
18           5.1          3.5           1.4          0.3  setosa
19           5.7          3.8           1.7          0.3  setosa
20           5.1          3.8           1.5          0.3  setosa
21           5.4          3.4           1.7          0.2  setosa
22           5.1          3.7           1.5          0.4  setosa
23           4.6          3.6           1.0          0.2  setosa
24           5.1          3.3           1.7          0.5  setosa
25           4.8          3.4           1.9          0.2  setosa
26           5.0          3.0           1.6          0.2  setosa
27           5.0          3.4           1.6          0.4  setosa
28           5.2          3.5           1.5          0.2  setosa
29           5.2          3.4           1.4          0.2  setosa
30           4.7          3.2           1.6          0.2  setosa
31           4.8          3.1           1.6          0.2  setosa
32           5.4          3.4           1.5          0.4  setosa
33           5.2          4.1           1.5          0.1  setosa
34           5.5          4.2           1.4          0.2  setosa
35           4.9          3.1           1.5          0.1  setosa
36           5.0          3.2           1.2          0.2  setosa
37           5.5          3.5           1.3          0.2  setosa
38           4.9          3.1           1.5          0.1  setosa
39           4.4          3.0           1.3          0.2  setosa
40           5.1          3.4           1.5          0.2  setosa
41           5.0          3.5           1.3          0.3  setosa
42           4.5          2.3           1.3          0.3  setosa
43           4.4          3.2           1.3          0.2  setosa
44           5.0          3.5           1.6          0.6  setosa
45           5.1          3.8           1.9          0.4  setosa
46           4.8          3.0           1.4          0.3  setosa
47           5.1          3.8           1.6          0.2  setosa
48           4.6          3.2           1.4          0.2  setosa
49           5.3          3.7           1.5          0.2  setosa
50           5.0          3.3           1.4          0.2  setosa

In [58]:
''' En este conjunto de datos trabajaremos en la columna Especies, 
contará el número de veces que se ha repetido una especie en particular.'''
data["species"].value_counts()

setosa        51
virginica     50
versicolor    50
Name: species, dtype: int64

In [59]:
sum_data = data["sepal_length"].sum() #suma
mean_data = data["sepal_length"].mean() #media
median_data = data["sepal_length"].median() #mediana
print("Suma:",sum_data, "\nMedia:", mean_data, "\nMediana:",median_data)

Suma: 881.5999999999999
Media: 5.838410596026492
Mediana: 5.8

In [60]:
min_data=data["sepal_length"].min() #mínimo
max_data=data["sepal_length"].max() #máximo
print("Mínimo:",min_data, "\nMáxim0:", max_data)

Mínimo: 4.3
Máxim0: 7.9

In [61]:
''' Aquí imprimiremos solo las 10 filas superiores del conjunto de datos,
si desea ver el resultado de todo el conjunto de datos, elimine
.head (10) del siguiente código'''
data.head(10).style.highlight_max(color='yellow', axis=0) #filas

In [62]:
data.head(10).style.highlight_max(color='lightgreen', axis=1) #columnas

In [63]:
data.head(10).style.highlight_max(color='lightgreen', axis=None) #todo el dataframe

In [64]:
data.head(10).style.highlight_min(color='#cd4f39', axis=None) #mínimo todo el dataframe, color en hexadecimal

In [65]:
data.isnull() #si faltan datos, se mostrará Verdadero o Falso.

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False
150         False        False         False        False    False

[151 rows x 5 columns]

In [66]:
data.isnull().sum() # suma de missings

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [67]:
missing_values_count = data.isnull().sum()
missing_values_count[0:10] #para las primeras 10 filas

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [68]:
total_cells = np.product(data.shape) #Contamos el total de datos
print ("Celdas total:", total_cells)
total_missing = missing_values_count.sum()
print ("Missing total: ", total_missing)
print ("% de missings: ", total_missing/total_cells*100)

Celdas total: 755
Missing total:  0
% de missings:  0.0

In [69]:
#renombrar columnas
newcols={
"sepal_length":"sepallength",
"sepal_width":"sepalwidth"}
data.rename(columns=newcols,inplace=True)
print(data.head())

   sepallength  sepalwidth  petal_length  petal_width species
0          5.1         3.5           1.4          0.2  setosa
1          4.9         3.0           1.4          0.2  setosa
2          4.7         3.2           1.3          0.2  setosa
3          5.1         3.5           1.4          0.2  setosa
4          4.6         3.1           1.5          0.2  setosa

In [70]:
data['species']=data['species'].replace(['setosa','versicolor','virginica'],[0,1,2])
print(data.head())

   sepallength  sepalwidth  petal_length  petal_width  species
0          5.1         3.5           1.4          0.2        0
1          4.9         3.0           1.4          0.2        0
2          4.7         3.2           1.3          0.2        0
3          5.1         3.5           1.4          0.2        0
4          4.6         3.1           1.5          0.2        0

In [71]:
data.to_csv(r'dataset\00_iris_manipulado.csv', index = False)

<h3>👏👏👏 You guys rock !!!</h3>